RewriteEngine On

RewriteRule  ^ost/([0-9]+)$ http://localhost/ComposerDemo/webt-core-server-responses-with-php-in-json-format/?ost_id=$1 [L]
RewriteRule  ^ost/ http://localhost/ComposerDemo/webt-core-server-responses-with-php-in-json-format/